body{
	align-items: center;
}
a{
	text-decoration: none;
	display: inline-block;
}
h1 {
	font-size: 72px;
	text-align: center;
	color: #B3B3B3;
}

.menu{
	display: flex;
	grid-template-rows: auto auto;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	height: auto;
	margin: 0 auto 10px;
}

.menu .button{
	flex: 0 1 200px;
	width: 150px;
	height: 30px;
	font-size: 16px;
}

.bigbutton{
	width: 50%;
	height: 250px;
	line-height: 250px;
	min-width: 500px;
	font-size: 60px;
	text-align: center;	
	transition: transform 0.3s ease-out;
}

footer p {
	display: block;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}

.text{
	grid-row: 1;
	position: relative;
	z-index: 1; 
}
.submenu{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 20px 0;
}
.submenu a{
	padding: 0 50px;
}
.button {
	flex: 1;
	width: 300px;
	height: 50px;
	background: #7B7B7B;
	margin: 0px auto auto;
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.4s linear;
}

.green{
	color: #468f4e;
	background-color:  #FFFFFF;
}

.purple{
	color: #d29ef0;
	background-color:  #FFFFFF;
}

.green:hover {
	background-color: #468f4e;
	color: #FFFFFF;
}
.purple:hover {
	background-color: #d29ef0;
	color: #FFFFFF;
}	
.column {
	width: 100%;
	margin-top: 0px;
}


.greyscale{
	filter: grayscale(90);
	width: 100px;

}

.shift, .shift:hover{
	transition: all 0.4s ease-in-out;
}

.greyscale:hover{
	filter: grayscale(0);	
}

.togrey:hover{
	filter:invert(0.75);
}


.non-button img{
	height: 100px;
	width: auto;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: 20px 0;
}