.bio{
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: grey;
    color: white;
}

.bio .profile{
    flex: 1;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #C677F1;
}

.bio .text_column{
    flex: 1;
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}