.bio {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Arial", sans-serif;
  background-color: grey;
  color: white;

  img {
    width: 200px;
  }
  .profile {
    flex: 1;
    height: 300px;
    width: 200px;
        display: inline-block;
  }
  .text_column {
    width: min(100%, 500px);
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    display: inline-block;
  }
}
