.bio {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Arial", sans-serif;
  background-color: grey;
  color: white;

  .programmer {
    background-color: #008800;
  }

  .musician {
    background-color: #8813e7;
  }

  img {
    width: 200px;
  }
  .profile {
    flex: 1;
    height: 300px;
    width: 200px;
        display: inline-block;
  }
  .text_column {
    width: min(100%, 500px);
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    display: inline-block;
  }
}
