.menu{
h1{
    font-size: 96px;
    text-align: center;
    color: #B3B3B3;
}
div{
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;
    display: block;
}
}


menu{
    display: flex block;
    grid-template-rows: auto auto;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto 10px;
    padding: 0;

    button{
            width: 250px;
    font-size: 24px;
    border: 0;
    background-color: #B3B3B3;
    color: #FFFFFF;
    font-size: 24px;
    }
}