h1{
    font-size: 96px;
    text-align: center;
    color: #B3B3B3;
}
div{
    text-align: center;
    align-items: center;
}

menu{
    display: flex;
    grid-template-rows: auto auto;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto 10px;
}

menu button{
    flex: 1;
    width: 150px;
    height: 30px;
    font-size: 16px;
}