.SkillsEntry {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    z-index: 50;
    opacity: 100%;
    margin: 10px;

    h3{
        display: none;
        position: absolute;
        text-align: center;
        width: 75px;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        transform: translate(-50%, -50%);
        margin: inherit;
        color: #000;
        background-color: #FFFFFF80;
        font-size: 16px;
    }

    img{
        margin: 5px;
        height: 100%;
        opacity: 100%;
    }
}

.SkillsEntry:hover h3 {
    display: block;
}

.SkillsEntry:hover img {
    opacity: 30%;
}