.SkillsEntry {

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid var(--darker-bg);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    z-index: 50;

    h3{
        color: #000;
        font-size: 12px;
        margin: 0;
    }

    img{
        margin: 5px;
    }
}