.Portfolio {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}