.Skills {

    max-width: var(--max-width);        
    margin: 0 auto;

    .title{
        text-align: center;
        width: 100%;
        max-width: var(--max-width);
        margin-bottom: 40px;
        position: relative;
        margin: 0 auto;
        background: var(--module-bg);
        color: white;
        z-index: 10;
        border-radius: 20px;
      }      

      .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
      }
}