.PortfolioEntry {
  width: 300px;
  height: auto;
  text-align: center;
  margin-top: 35px;
  box-shadow: 0 0 10px 0 var(--module-bg);
  background-color: #f8f8f8;
  border-radius: 3px;
  border-bottom: 4px solid var(--module-bg);
  display: inline-block;
  padding: 20px 10px;

  h4 {
    margin: 5px 0;
    text-align: left;
    padding: 0 20px;
  }
  p {
    margin: 0;
    color: #b3b3b3;
    text-align: left;
    padding-left: 20px;
  }
  .text_column {
    width: 260px;
  }
}
