.Timeline {
    width: 100%;
    min-height: 100px;
    height: auto;
    position: relative;

    .line {
    height: 100%;
    width: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
}
