*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background: #006e51;
  top: 0;
  bottom: 0;
  left: calc(50% - 2px);
}


@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }
}
