/* Footer.module.css */

footer {
  padding: 20px 0;
  background-color: var(--module-text-color);
  color: #333333;

  section {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 100px;
    width: auto;
  }

  .non_button {
    height: 100px;
    width: 100px;
    margin: 0 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    transition: all 0.3s ease-out;
  }

  .non_button:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(0%);
  }
}
