.container {
  position: relative;
  color: white;
  background-color: var(--module-bg);
  width: 50%;
  margin: 20px 0;
  padding: 15px 30px;
}

.container.right {
  left: 50%;
  padding-left: 50px; 
}

.dotImage {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  right: -8px;
  background: #ffffff;
  border: 2px solid var(--darker-bg);
  border-radius: 40px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid var(--darker-bg);
  border-radius: 16px;
  z-index: 1;
}

.dotImage img{
  width: 80%;
  object-fit: cover;
  object-position: center;
}

.container.left .dotImage {
  right: -40px;
}

.container.right .dotImage {
  left: -40px;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  z-index: 1;
}

.container.right::before {
  left: 8px;
  right: auto;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #f6d155;
  border: 2px solid #006e51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006e51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

@media (max-width: 767.98px) {
  .container {
    width: 100%;
    padding-left: 150px;
    padding-right: 30px;
  }

  .container.left{
    left: 0%;
    text-align: left;
  }

  .container.right {
    left: 0%;
    padding-left: 150px; /* Match left padding for mobile */
  }

  .container.left::after,
  .container.right::after {
    left: 84px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 80px;
  }

  .container.left .dotImage,
  .container.right .dotImage {
    right: auto;
    left: 52px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}