@charset "UTF-8";
/* Body */
*{
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.programmer{
	background-color: green;
}

.musician{
	background-color: purple;
}