@charset "UTF-8";
/* Body */
*{
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.programmer {
	background-color: #468f4e;

		button {
		background-color: #FFFFFF;
		color: #468f4e;
	}

	button:hover {
		background-color: #468f4e;
		color: #FFFFFF;
	}
}

.musician{
	background-color: #d29ef0;

	button {
		background-color: #FFFFFF;
		color: #d29ef0;
	}

	button:hover {
		background-color: #d29ef0;
		color: #FFFFFF;
	}
}
