@charset "UTF-8";
/* Body */
*{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	--programmer: #468f4e;
	--musician: #C677F1;
}

:root{
		--max-width: 960px;
		--portfolio-width : 300px;
		--module-text-color: #cccccc;
}

.programmer {
	--module-bg: var(--programmer);

		button {
		background-color: #FFFFFF;
		color: var(--module-bg);
	}

	button:hover {
		background-color: var(--module-bg);
		color: #FFFFFF;
	}
}

.musician{
	--module-bg: var(--musician);

	button {
		background-color: #FFFFFF;
		color: var(--module-bg);
	}

	button:hover {
		background-color: var(--module-bg);
		color: #FFFFFF;
	}
}
