@charset "UTF-8";
/* Body */
*{
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
a{
	text-decoration: none;
}
h1 {
	font-size: 48px;
	text-align: center;
	margin: 15px 0;
}
h2 {
	color: white;
	text-align: center
}
h3{
	font-size: 24px;
}

p {
	font-weight: 400;
}

div{
	width: 100%;
	vertical-align: top;
}

body {
	background-color: #FFFFFF;
	margin: 0;
}

/* Container */
.container {
	width: 95%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* Header */
header {
	width: 100%;
	height: auto;
	padding: 10px 0;
	background-color: #5D5E5D;
}
.logo {
	color: #fff;
	font-weight: bold;
	margin: 10px auto;
	padding: 0 20px;
	letter-spacing: 2px;
	text-align: center;
	font-size: 72px;
}
.hero_header {
	color: #717070;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}

/* About Section */
.text_column {
	width: 100%;
	text-align: left;
	line-height: 25px;
	float: left;
}
.gallery {
	clear: both;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 300px;
	height: auto;
	text-align: center;
	margin-top: 35px;
	background-color: #F8F8F8;
	border-radius: 3px; 
	border-bottom: 4px solid#C677F1;
	display: inline-block;
	padding: 20px 10px;
}
.gallery .thumbnail h4 {
	margin: 5px 0;
	text-align: left;
	padding: 0 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}
.gallery .thumbnail .text_column{
	width: 260px;
}
/* More info */
.column {
	text-align: center;
	float: left;
	height: 100%;
}
.intro .picture_column{
	text-align: center;
	float: left;
	height: 300px;
}

.intro .text_column{
	text-align: center;
	float: right;
	height: 100%;
	padding: 0 10px;
}

.cards {
	height: 200px;
	max-width: 400px;
	opacity: 0.8;
}
.intro p {
	width: 100%;
	color: #FFFFFF;
	height: 100%;
	text-align: left;
	line-height: 25px;
	font-size: 20px;
	border: 5px;
}
.resume{
	color: white;
	position:relative;
	/* top: -100px; */
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.resume > div {
	
	height: auto;
	flex: 0 1 450px;
	float: left;
	text-align: center;
	margin: 5px;
	padding: 0 20px;
	/* align-self: center; */
}

.gallery h1{
	color:#B3B3B3;
	font-size: 6px;
}
.menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	height: auto;
	margin: 0 auto 10px;
}
.menu .button{
	flex: 0 1 200px;
	width: 150px;
	height: 30px;
	font-size: 16px;
}

#portfolio{
	color: #787A78;
}

menu{
	padding-inline-start: 0;
}

.button {
	width: 200px;
	margin: 40px auto auto;
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding: 20px 0;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #DDDDDD;
	padding: 60px 0 0;
}
.intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around ;
	align-items: center;
}
.intro .text_column{
	flex: 1 1 auto;
	max-width: 500px;
}
.intro .picture_column{
	flex: 1 1 auto;
	max-width: 300px;
}
.gallery .thumbnail .tag {
	color: #5D5E5D;
	text-align: left;
	padding: 4px 20px;
}

.resume *{
	margin: 5px 0;
	padding: 0 5px;
}
.resume h1{
	font-size: 400%;
	margin: 25px 0;
	color: white;
}
.resume h2{
	font-size: 200%;
	margin: 5px 0;
}
.resume h3{
	font-size: 150%;
}
.resume h6{
	font-size: 100%;
}
.resume p{
	margin: 20px 0;
}

.techskills{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.techblock{
	flex: 0 1 150px;
	height: 100%;
	top: 0;
}
.techblock h4{
	margin: 10px;
}
.techblock img{
	height: 100px;
	margin: 10px 0;
}

.picture_column img{
	height: inherit;
	width: auto;
}





